#tabs_container,#user_tools {
  margin-top:17px;
}

#bbs_selection_nipple{
  margin-top:3px !important;
  background-color:transparent;
}
#tab-ofpsvr2{
  margin-top:-8px
}
#return_to_top div{
  float:right
}
#return_to_home div{
  float:right
}
#help_query_btn{
  background-image:url('/images/blue_search_sprite_ie.png') !important;
}
.return_to_top_icon{
  background-image:url('/images/dashboard_master_sprite_ie.png') !important;
}
.return_to_home_icon{
  background-image:url('/images/dashboard_master_sprite_ie.png') !important;
  margin-right:5px;
}
#search_controls_button{
  height:30px !important;
}
.ask .savatar2 {
  text-align:right;
  
}
.avatar_border_small2{
  text-align:left;
}