#bbs_selection_nipple{
  margin-top:0px !important;
  background-color:transparent;
}
#right_column .controls_section li:hover a {
  background-image:url('/images/icons_sprite_ie_hover.png');
}
#right_column .controls_section li.selected:hover a {
  background-image:url('/images/icons_sprite_ie_selected.png');
}
#right_column .controls_section li:hover{
  background-color:#3a536d
}
