 <div id="footer">
     <div>
       <strong>&copy; 考考点评, 2012.</strong>
       <a href="/under_construction">帮助</a>
       <a href="/under_construction">关于</a>
       <a href="/under_construction">合作联系</a>
       <a href="/bugtrack">意见反馈</a>
       <a href="/under_construction">服务条款</a>
       <a href="<%= pos_bbs? ? '/bbs/cpanel' : '/cpanel' %>">后台登陆</a>

       <script type="text/javascript">
       var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
       document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F94f2c86f6d3dc622660fcc935c47c57e' type='text/javascript'%3E%3C/script%3E"));
       </script>

       
       <a href="http://www.miibeian.gov.cn/">京ICP备11046107号</a>
     </div>
</div>
