
<div id="footer">
<ul style="width:160px">
<li><a href="/under_construction">关于 考考点评</a></li>
<li><a href="/under_construction">隐私政策</a></li>
<li><a href="/under_construction">用户协议</a></li>
<li><a href="/under_construction">广告服务</a></li>
<li><a href="/under_construction">工作机会</a></li>

</ul>
<ul class="link-list" style="width:160px">
<li><a href="/under_construction">媒体报道</a></li>
<li><a href="/under_construction" rel="nofollow">机构登陆</a></li>
<li><a href="/cpanel" rel="nofollow">后台管理</a></li>
<li><a href="/under_construction">合作伙伴</a></li>
</ul>
<ul class="link-list" style="width:160px">
<li><a href="/under_construction">网站地图</a></li>
<li><a href="/under_construction">关键词排行榜</a></li>

<li><a href="/bugtrack" rel="nofollow">意见反馈</a></li>
<li><a href="/under_construction" rel="nofollow">联系我们</a></li>
</ul>
<ul class="link-list separate">
<li style="color:white;font-size:12px"><a href="#">官方微博</a></li>
<li><a href="/under_construction">2011年11月15日 开始后台架构</a></li>
<li><a href="/under_construction">2011年11月14日 第一次任务分配与团队协作</a></li>
<li><a href="/under_construction">2011年11月14日 团队建立</a></li>
</ul>
<br style="clear:both">
<p class="copyright">&copy; 2011 考考点评.</p>
<span class="spacer"> </span>
</div>