<div id="shouye_chang">
  <% @tags.each do |tag| %>
  <%= link_to tag.name,tag_path(tag.name) %><br>
  <% end%>
<% if @is_ie %><div id="ie_every_foot">&nbsp;</div><div id="ie_every_footer"></div><%end%>div>
<%= render "asks/sidebar" %>
