<div id="shouye_chang">
  <% @tags.each do |tag| %>
  <%= link_to tag.name,tag_path(tag.name) %><br>
  <% end%>
<% if @is_ie %><div id="ie_every_foot" style="<%='left:0px' if @is_ie7 or @is_ie8%>">&nbsp;</div><div id="ie_every_footer"></div><%end%></div>
<%= render "asks/sidebar" %>
